//
// Colors
//

// Override Bootstrap color variables

$blue: #2C86B8;

// Override Bootstrap state colors variables

$primary: $blue;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
